/*** Google Fonts ***/
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

html {
  height: 100%;
}

body{
  margin: 0;
  height: 100%;
  font-family: 'Raleway', monospace;
}

/*** Navigation Bar ***/
.navBar {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}

/* styling the links */
.navBar a:not(:first-child) {
  color: black;
  text-decoration: none;
  float: right;
  display: block;
  text-align: center;
  padding: 20px 20px;
  font-size: 17px;
}

#logo{
  height: 64px;
  width: 64px;
  float: left;
}

/* Hover attributes except shLogo (first-child) */
.navBar a:not(:first-child):hover {
  background-color: #253144;
  color: white;
}

/*** Main (Background) ***/
.main {
  min-height: 700px;
  width: 100%;
  background-size: cover;
  background-image: url("../img/about/profile3.jpg");
  background-size: 80%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
  padding-top: 0;
}

/*** intro ***/
.intro {
  text-align: center;
  margin: auto;
  margin-top: 10px;
  border: dashed green;
  padding: 30px;
  width: 80%;
}
