/*** Google Fonts ***/
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');

html {
  overflow: hidden;
}

body{
  margin: 0;
  background-color: black;
  color: white;
  font-family: 'Raleway', monospace;
}


/*** Navigation Bar ***/
.navBar {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

/* styling the links */
.navBar a:not(:first-child) {
  color: white;
  text-decoration: none;
  float: right;
  display: block;
  text-align: center;
  padding: 20px 20px;
  font-size: 17px;
}

#logo{
  height: 64px;
  width: 64px;
  float: left;
  visibility: hidden;
}

/* Hover attributes except shLogo (first-child) */
.navBar a:not(:first-child):hover {
  background-color: white;
  color: black;
}

/* index.html -- Main Home Page */
.main {
  color: white;
}

/*** Title ***/
#mainpic {
  margin-top: 10%;
  align-items: center;
}

#mainpic:hover {
  opacity: .7;
}

span {
  /* font-weight: bold; */
  color: white;
}

/* Typing Effect Cursor */
.typeText::after {
  content: "|";
  animation: none;
}

.showAnim.typeText::after {
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  0%, 100% {opacity: 1;}
  50% {opacity:0;}
}

#KRname {
  /* border-bottom: Solid white;
  padding: 10px;
  width: 30%; */
  font-weight: lighter;
  font-size: 40px;
  font-family: 'Yeon Sung', cursive;
}

#ENname {
  font-weight: lighter;
}

/*** social ***/
.social
  margin-top: 13%;
  text-align: center;
  color: white;
}

.social img{
  height: 8%;
  width: 8%;
  background-color: black;
}


footer {
  margin-bottom: 0;
  font-size: 15px;
  color: black;
}
